.give__room{
  padding: 40px;
}

.center__text{
  text-align: center;
  margin: 0 auto;
}

.center__grid{
  max-width: 960px;
  margin: 0 auto;
}

.make__wide{
  max-width: 1280px;
  margin: 0 auto;
}

.make__weight-normal {
  font-weight: normal;
}

.make__hidden {
  display: none;
}

.make__headline{
  color: var(--color-ltblue);
  text-transform: uppercase;
}

.make__offwhite {
  background-color: var(--color-beige);
}

.remove__top-pad{
  padding-top: 0;
}

.add__bottom-pad{
  padding-bottom: 75px;
}

.add__bottom-pad-35{
  padding-bottom: 35px;
}

.make__bluelink{
  border-bottom: 5px solid hsla(196, 90%, 91%, 1.00);
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width:1150px) {
  .make__break{
    display: block;
  }
}

.make__number{
  border: 2px solid var(--color-ltblue);
  border-radius: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  color: var(--color-ltblue);
  margin-right: 10px;
}

.button__plain  {
  @apply --button;
  display: initial;
  padding: 18px 15px;
  margin-top: 15px;
}

.button__plain:after{
  content: "→";
  padding-left: 10px;
}

.button__plain:hover{
  background-color: var(--color-dkblue);
}
