.inner-hero {
  @apply --container;

  text-align: center;

  background-color: var(--color-beige);
  background-image: url('assets/images/bg-machine.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
}

.seed-supplier-cta {
  @apply --container;

  background-color: var(--color-offwhite);

  text-align: center;
}

.inner-hero-copy {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.7;
  font-size: 18px;
}

.inner-hero-headline {
  font-size: 30px;
}

.seed-supplier-cta a {
  cursor: pointer;
}
