/* scroll locker class */
body.mailbar-active,
body.menu-active {
  overflow: hidden;
}

.mailbar-header {
  background-color: var(--color-gray);
  color: var(--color-white);

  position: relative;
  height: 60px;
  padding: 22.5px 20px;

  font-size: 15px;
  font-weight: 700;
  line-height: 1;

  text-align: center;

  & .down {
    margin-left: 15px;
    font-size: 20px;
    position: relative;
    top: -3px;
  }

  & .dismiss {
    position: absolute;
    right: 0;
    top: 3px;

    display: block;
    height: 60px;
    width: 60px;

    font-size: 20px;
    padding: 15px 20px;
    color: var(--color-ltgray);
  }
}

.mailbar-body {
  height: 0;

  background-color: var(--color-dkgray);
  color: var(--color-white);
}

#mailbar-activate,
#mailbar-dismiss,
#menu-activate {
  cursor: pointer;
}

@media screen and (min-width: 768px) {

}

.main-nav-header {
  background-color: var(--color-ltblue);
  color: var(--color-white);

  position: relative;
  height: 70px;
  padding: 15px 0px 15px 20px;

  & svg {
    font-size: 40px;
  }

  & :any-link {
    color: white;
  }
}

.main-nav-header-menu-button {
  background-color: var(--color-dkblue);
  padding: 15px;

  display: block;
  height: 70px;
  width: 70px;

  position: absolute;
  right: 0;
  top: 0;
}

#menu-header-menu-container {
  height: 0;
  width: 100vw;
  overflow: scroll;
  position: fixed;
  z-index: 1;

  background-color: var(--color-offwhite);

  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  & :any-link {
    text-decoration: none;
    color: var(--color-ltblue);
  }

  & .menu {
    margin: 0;
    padding: 0;

    & li {
      list-style: none;
      border-bottom: 1px solid var(--color-beige);
      padding: 20px 0;

      & :any-link {
        display: inline-block;
        width: 70%;
      }
    }
  }
}

@media screen and (min-width:769px) {
  .main-nav{
    display: none;
  }
}
