.button__plain {
  background-color: hsla(196, 43%, 62%, 1.00);
  color: hsla(0, 0%, 100%, 1.00);
  padding: 18px 10px;
  font-family: NexaBold;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.button__plain:after{
  content: "→";
  padding-left: 10px;
}

.button__plain:hover{
  background-color: hsla(195, 33%, 50%, 1.00);
}

.ctn{
  padding: 45px 20px;
}

.headline{
  color: var(--color-ltblue);
  text-transform: uppercase;
}

.flex__ctn{
  display: flex;
  flex-wrap: wrap;
}

.flex__half{
  flex: 2 1 30%;
  min-width: 300px;
  padding: 35px;
  min-height: 375px;
  margin: 0 auto;
}

.flex__three{
  flex: 3 2 60%;
  padding: 35px;
  min-height: 375px;
}

.flex__one{
  flex: 1 1 35%;
  padding: 35px;
  min-height: 375px;
}
