.inputWrapper{
  background-color: var(--color-beige);
  border: 1px solid var(--color-ltgray);
  width: 100%;
}

.inputWrapper textarea{
  width: 100%;
  padding: 10px;
  padding: 10px !important;
  height: 250px;
}

.inputWrapper input{
  width: 100%;
  padding: 10px !important;
}

#mailbar-body .wForm{

}

.wForm label{
  font-weight: bold;
}

.wForm .reqMark:after {
    content: " *";
    color: hsla(60, 5%, 38%, 1.00);
    font-size: 90%;
}

.actions input{
  padding: 10px 20px ;
}

.supportInfo{
  display: none;
}

.vFormContainer{
  padding-bottom: 50px !important;
}

@media screen and (max-width:768px) {
  .actions input{
    width: 100%;
    padding: 20px 0 !important;
  }
}


@media screen and (min-width:1280px){
  .mailbar-body .wFormContainer {
    position: absolute;
    right: 80px;
    top: -10px;
    max-width: 870px;
  }

  .mailbar-body .oneField {
    display: inline-block;
  }

  .mailbar-body .actions {
    display: inline-block;
  }

  .mailbar-body .inputWrapper {
    height: 30px;

    & input {
      padding: 2px;
    }

    .mailbar-body .wForm{
      padding: 0;
    }
  }

  #tfa_0-WRPR {
    padding: 0;
  }

  #mailbar-activate {
    cursor: default;

    & svg {
      display: none;
    }
  }
}

.contact-us {
  & .wForm .primaryAction {
    padding: 18px 31px;
    font-size: 14px;
    font-weight: 500;
  }

  .actions input:after{
    content: "→";
    padding-left: 10px;
  }

  & .wFormContainer {
    padding: 80px 0;
  }
}
