.find-seed-supplier .inner-hero-copy{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  line-height: 2;
}

.seed-supplier-cta a{
  width: 200px;
  margin: 0 auto;
}

.suppliers__select-ctn {
  padding: 60px 20px 20px;

  & p {
    font-weight: bold;
    font-size: 20px;
  }
  & select {
    width: 100%;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
    height: 49px;
    padding:10px;
    margin: 0;
    background: #fff;
    color:#888;
    border:1px solid #c9c9c4;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
  }
  & label {position:relative}
  & label:after {
      content:'>';
      font:35px "Consolas", monospace;
      color:#aaa;
      -webkit-transform:rotate(90deg);
      -moz-transform:rotate(90deg);
      -ms-transform:rotate(90deg);
      transform:rotate(90deg);
      right:11px;
      top:-26px;
      padding:14px;
      border-bottom: 1px solid #c9c9c4;
      position:absolute;
      pointer-events:none;
  }

}

.suppliers__section-title {
  text-transform: uppercase;
  text-align: center;
  padding: 40px 0 0;
  font-size: 20px;
}

.suppliers__ctn {
  padding: 40px;
  margin: 0;

  & span {
    display: block;
  }
  & .supplier__info {
    border-left: 2px dotted var(--color-tan);
    border-bottom: 2px dotted var(--color-tan);
    padding: 25px;
    margin-bottom: 35px;
    min-height: 230px;
  }
  & a {
    border-bottom: 5px solid var(--color-link);
    text-decoration: none;
    color: inherit;
    overflow-wrap: break-word
  }
}

.rep__ctn {
  background-color: var(--color-beige);
  padding: 40px;

  & h3 {
    text-align: center;
    padding: 40px 0;
    font-size: 20px;
  }
  & img {
    width: auto;
    height: 200px;
    padding-right: 10px;
  }
  & span {
    display: block;
  }
  & .rep__info {
    border-left: 2px dotted var(--color-tan);
    border-bottom: 2px dotted var(--color-tan);
    padding: 25px;
    min-height: 315px;

    & a {
      overflow-wrap: break-word
    }
  }
}

.show-state{
  display: block;
}

#results.hidden{
  display: none;
}

.failure__nosuppliers {
  text-align: center;
  display: none;
  padding: 0 10px;
}

.remove__margin {
  margin: 0;
}
