.button,
[type=submit],
[role=button] {
  @apply --button;
}

img {
  max-width: 100%;
}

/* non-component containers */
.risks {
  @apply --container;
}

.risks-seeding {
  text-align: center;
}

b, strong {
  font-weight: 700;
}
