.hero__ctn{
  background-image: url('../connectIN/assets/images/home__hero-bg.jpg');
  background-size: cover;
  background-position: bottom;
  height: auto;
  text-align: center;
  padding: 70px 15px 105px;
}

.hero__inner-ctn{
  max-width: 850px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.hero__title {
  font-size: 35px;
  color: var(--color-gray);
  text-transform: initial;
  text-align: center;
}

.hero__title p::after{
  content: "";
  display: block;
  height: 30px;
  width: 200px;
  border-bottom: 2px solid var(--color-gray);
  margin: 0 auto;
}

.hero__subtitle{
  color: var(--color-ltblue)
}

.hero__button{
  width: 220px;
  text-align: center;
  margin: 20px auto;
  display: block;
}

.seed__ctn{
  padding-bottom: 50px;
}

.seed__image{
  padding-top: 25px;
}

.supply__ctn{
  background-image: url('../connectIN/assets/images/home__grains-bg.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 350px;
}

.calc__ctn{
  background-color: var(--color-gray);
  min-height: 350px;

  & p {
  color: var(--color-white);
  }
}

.home .box p {
  padding-bottom: 20px;
}

.product__ctn{
  padding-top: 60px;
}

@media screen and (max-width:768px) {
  .hero__ctn {
    background-image: url('../connectIN/assets/images/bg-hero-mobile.jpg');
  }
}
