.optimal-seeding-rate .embed-container{
  max-width: 960px;
  padding-top: 20px;
  margin: 0 auto;
}

.benefits__op-ctn{
  margin: 0 auto;
  background-image: url('assets/images/home__grains-bg.jpg');
  background-size: cover;
  background-position: center center;
}

.benefits__op-ctn li {
  line-height: 2;
}
