.optimal-seeding-rate .embed-container{
  max-width: 960px;
  padding-top: 20px;
  margin: 0 auto;
}

.optimal-seeding-rate .inner-hero-copy{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  line-height: 2;
}

.risks .box{
  max-width: 800px;
}

.risks-seeding{
  max-width: 960px;
  margin: 0 auto;
}

.risks-seeding .box {
}
