:root {
  /* colors */
  --color-white: hsla(0, 0%, 100%, 1.00);
  --color-offwhite: hsla(40, 33%, 96%, 1.00);
  --color-beige: hsla(40, 33%, 91%, 1.00);
  --color-ltgray: hsla(60, 5%, 56%, 1.00);
  --color-gray: hsla(60, 5%, 38%, 1.00);
  --color-dkgray: hsla(60, 2%, 22%, 1.00);
  --color-ltblue: hsla(196, 43%, 62%, 1.00);
  --color-dkblue: hsla(195, 33%, 50%, 1.00);

  /* font-mixins */
  --base-font-definition {
    font-family: "Gotham SSm A", "Gotham SSm B", Gotham, system, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 300;

    color: var(--color-gray);
  }

  --h1 {
    color: var(--color-dkblue);

    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.143;
  }

  /* configurable modules */
  --container {
    padding: 45px 20px;
  }

  --button {
    background-color: var(--color-ltblue);

    display: block;
    padding: 18px 0;

    color: var(--color-white);
    /* TODO: wrong nexa font, need bold instead */
    font-family: Nexabook;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
  }
}
