/*[–––
			↓ INTRO ↓
––––––––––––––––––––––––––––––––––––––//]*/
.intro {
	background-image: url(assets/images/hardware/hardware__intro-bg.jpg);
	background-position: bottom;
	background-size: cover;
	padding: 50px 20px;
	color: var(--color-white);

	& .title {
		color: var(--color-white);
		font-weight: bold;
		font-size: 36px;
	}

	& .subtitle {
		font-size: 26px;
		text-transform: uppercase;
	}

	& .copy {
		color: var(--color-white);
		font-size: 18px;
	}
}



/*[–––
			↓ CALLOUT ↓
––––––––––––––––––––––––––––––––––––––//]*/
.callouts {
	& .order {
		min-height: 270px;
		background-image: url('assets/images/hardware/hardware__callouts-grains.jpg');
		background-position: center;
		background-size: cover;
		padding: 50px;
	}

	& .training {
		min-height: 270px;
		max-height: 275px;
		background-color: var(--color-gray);
		color: var(--color-white);
		padding: 50px;
	}
}



/*[–––
			↓ BENEFITS ↓
––––––––––––––––––––––––––––––––––––––//]*/
.lead {
	padding: 40px;
	& .copy {
		line-height: 27px;
	}
}

.reasons {
	padding: 0 40px 40px;

	& .hide-image {
		display: none;
	}

	& .bullet-image {
		padding-top: 20px;
		max-width: 150px;
		height: auto;
	}

	& .list {
		& .title {
			font-weight: bold;
			text-align: left;
			margin-left: -20px;
		}

		& li {
			line-height: 2.1;
		}
	}

	& .list-image {
		text-align: center;
	}
}

.inner {
	padding: 20px;
}



/*[–––
			↓ HELPER CLASSES ↓
––––––––––––––––––––––––––––––––––––––//]*/
.nopad {
	padding: 0;
}

.button {
	background-color: var(--color-ltblue);
	color: var(--color-white);
	display: inline-block;
	padding: 18px 0;
	font-family: NexaBold;
	font-size: 14px;
	text-transform: uppercase;
	padding: 18px 15px;
	border: 0;

	&::after {
		content: "→";
    padding-left: 10px;
	}
}

.mxw-1000-center {
	max-width: 1000px;
	margin: 0 auto;
}

.mxw-765-center {
	max-width: 765px;
	margin: 0 auto;
}

.mxw-600-center {
	max-width: 600px;
	margin: 0 auto;
}


/*[–––
			↓ Navigation ↓
––––––––––––––––––––––––––––––––––––––//]*/
#hardware-desktop-navigation {
	& ul {
		text-align: right;
		padding-top: 15px;
	}

	& li {
		text-decoration: none;
		display: inline-block;
		font-weight: bold;
		color: var(--color-white);
		padding-right: 30px;

		& a {
			text-decoration: none;
			color: var(--color-white);
		}
	}
}

.hardware-menu-header {
	background-color: var(--color-gray);
}

.hardware-menu-activate {
	background-color: var(--color-dkgray);
}

#hardware-menu {
	& .menu__items-ctn {
		background-color: var(--color-gray);
	}

	& .menu__contact-bar {
		background-color: var(--color-dkgray);
	}

	& .menu__item-logo {
		background-color: var(--color-white);
		padding: 0;


		& .menu__logo {
			padding: 10px 20px;
			width: 100%;
		}
	}
}
.email-text {
	display: none;
}

/*[–––
			↓ MEDIA ↓
––––––––––––––––––––––––––––––––––––––//]*/
@media screen and (min-width:1020px) {
	.reasons .hide-image {
		display: block;
	}
}

@media screen and (min-width:768px) {
	.email-text {
		display: inline;
	}
}
