/*[–––
			↓ HERO ↓
––––––––––––––––––––––––––––––––––––––//]*/
.hero {
	text-align: center;
	background-image:url('assets/images/hardware/howtoorder__hero-bg.jpg');
	background-size: cover;
	background-position: center;

	& .inner {
		min-height: 375px;
		background-position: center;
		background-size: cover;
		display: flex;
	}

	& .content {
		padding: 20px 20px;
		align-self: center;

	}

	& .title {
		color: var(--color-white);
		font-size: 25px;
	}

	& .copy {
		color: var(--color-white);
		font-size: 18px;
	}
}



/*[–––
			↓ STEPS ↓
––––––––––––––––––––––––––––––––––––––//]*/
.number {
	font-weight: bold;
	padding-top: 10px;
	height: 60px;
	width: 60px;
	text-align: center;
	display: inline-block;
	color: var(--color-ltblue);
	border-radius: 50px;
	margin-right: 5px;
	border: 3px solid var(--color-ltblue);
	font-size: 25px;
	vertical-align: top;
}

.step {
	display: flex;
	flex-direction: column;
	justify-content: center;

	& .title {
		display: inline-block;
		margin: 0;
		width: 70%;
	}
}

.step-one {
	min-height: 300px;
	background-color: var(--color-offwhite);
}

.step-two {
	min-height: 250px;
}

.number-ctn {
	min-width: 50px;
	display: inline-block;
	vertical-align: top;
}


/*[–––
			↓ SUPPORTED DEVICES ↓
––––––––––––––––––––––––––––––––––––––//]*/
.supported-devices {
	& .title {
		text-align: center;
		border-bottom: 2px dotted var(--color-ltgray);
		padding-bottom: 15px;
	}

	& .list-title {
		margin-left: -20px;
	}

	& li {
		line-height: 2.1;
	}
}



/*[–––
			↓ COPY SNIPPET ↓
––––––––––––––––––––––––––––––––––––––//]*/
.copy-snippet {
	text-align: center;
	padding: 0 20px;
}



/*[–––
			↓ FIND TABLET ↓
––––––––––––––––––––––––––––––––––––––//]*/
.find-tablet {
	& .title {
		text-align: center;
		border-bottom: 2px dotted var(--color-ltgray);
		padding-bottom: 15px;
		margin: 0;
	}

	& .instructions {
		text-align: center;
		padding: 20px;
	}

	& .content {
		padding-bottom: 40px;
	}
}



/*[–––
			↓ INCENTIVES ↓
––––––––––––––––––––––––––––––––––––––//]*/
.incentives {
	padding: 20px;
	text-align: center;
	background-color: var(--color-offwhite);

	& .title {
		text-transform: uppercase;
		color: var(--color-ltblue);
	}
}



/*[–––
			↓ MEDIA ↓
––––––––––––––––––––––––––––––––––––––//]*/
@media screen and (min-width:768px) {
	.hero {
	 	& .title {
			font-size: 36px;
		}
/*
		& .copy {
			font-size: 18px;
		}*/
	}
	.step .content {
		margin-left: 71px;
	}
	.tablets {
		border-right: 2px dotted var(--color-ltgray);
	}
	.find-tablet {
		padding-bottom: 50px;
	}
	.deskpad {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media screen and (min-width:1023px) {
	.amazon {
		border-left: 2px dotted var(--color-ltgray);
		border-right: 2px dotted var(--color-ltgray);

		&.content {
			min-height: 550px;
		}
	}
}
