/*[–––
			↓ GENERAL ↓
––––––––––––––––––––––––––––––––––––––//]*/
.responsive-text-align{
	text-align: left;
}


/*[–––
			↓ REPORTING ↓
––––––––––––––––––––––––––––––––––––––//]*/
.reporting {
	text-align: center;
	padding: 20px;
}

.beige {
	background-color: var(--color-offwhite);
}



/*[–––
			↓ MOBILE VIDEO PLAYER ↓
––––––––––––––––––––––––––––––––––––––//]*/
.block {
	margin: 5px;
	text-align: center;
	position: relative;

	& h4 {
		position: absolute;
		margin: 0;
		left: 0;
		right: 0;
	}
}

.thumbnail {
	padding-top: 50px;
	width: 100%;
	min-height: 200px;
}



/*[–––
			↓ DESKTOP VIDEO PLAYER ↓
––––––––––––––––––––––––––––––––––––––//]*/
.player {
	padding: 0 40px;
	display: none;

	& .inner {
		padding: 0;
	}
}

.videos {
	text-align: right;

	margin-left: 8px;
	height: 100%;
	max-height: 400px;

	& .list {
		list-style-type: none;
		padding: 0;
		overflow: scroll;
		-ms-overflow-style: none;
		height: 400px;
		margin: 0;

		& .item {
			cursor: pointer;
			padding: 10px;
			border-bottom: 1px solid var(--color-white);
			font-size: 14px;
			font-weight: bold;
			color: var(--color-white);
			background-color: var(--color-ltblue);

			&:hover {
				background-color:var(--color-gray);
			}

			&.active {
				background-color: var(--color-gray);
			}
		}
	}
}



/*[–––
			↓ REPORTING GUIDES ↓
––––––––––––––––––––––––––––––––––––––//]*/
.reporting-guides {
	padding: 20px;
	& .title {
		text-align: center;
	}
}

.download:hover {
	cursor: pointer;
}

/*[–––
			↓ QUICK TRAINING TIPS ↓
––––––––––––––––––––––––––––––––––––––//]*/
.quick-training-tips {
	text-align: center;
	padding-bottom: 20px;
	padding-top: 25px;
}

.action {
	font-size: 14px;
	color: var(--color-white);
	margin-bottom: 6px;

	& .content {
		position: relative;
	}

	& a {
		border: 0;
	}

	& .download-ctn {
		min-height: 39px;
		background-color: var(--color-ltblue);
	}
	& .download {
		background-color: var(--color-ltblue);
		position: relative;
		padding-left: 20px;
		line-height: 2.8;

		&::after {
			content:'\2193';
			padding-left: 5px;
		}
	}

	& .email {
		border-left: 1px solid var(--color-white);
		background-color: var(--color-ltblue);
		line-height: 2.8;
		padding-left: 20px;
	}
}

.player {
max-height: 350px;
}

.player-two {
	margin-bottom:60px;
}
/*[–––
			↓ QUICK TRAINING TIP ↓
––––––––––––––––––––––––––––––––––––––//]*/
.email-field {
	display: none;
	padding: 10px;
	height: 100%;
	width: 100%;
	background-color: var(--color-gray);


	& label {
		width: 100%;
		text-align: left;
		font-size: 12px;
		font-weight: bold;
	}

	& input[type=text] {
		display: inline-block;
		background-color: var(--color-white);
		padding: 5px;
		width: 100%;
		color: var(--color-gray);
		margin-bottom: 10px;
	}
	& input[type=submit] {
		display: inline-block;
		padding: 9px 15px;
		width: 100%;
	}
}



.email-button {
	text-align: center;
	padding-right: 10px;
	&:hover {
		cursor:pointer;
	}
}
.pdf-submit {
	background-color: none;
}

.email-icon {
	position: absolute;
	top: 48%;
  transform: translateY(-50%);
	right: 20px;
}

/*[–––
			↓ DOWNLOAD TRAINING MANUALS ↓
––––––––––––––––––––––––––––––––––––––//]*/
.download-manuals {
	background-color: var(--color-offwhite);
	padding-top: 30px;
	padding-bottom: 35px;
	& .title {
		text-align: center;
		padding-bottom: 30px;
	}
}


/*[–––
			↓ MEDIA ↓
––––––––––––––––––––––––––––––––––––––//]*/
@media screen and (min-width:768px) {
	.responsive-text-align{
		text-align: center;
	}
	.carousel {
		display: none;
	}
	.player {
		display: block;
	}

	.email-field {
		& input[type=text] {
			width: 50%;
		}
		& input[type=submit] {
			width: 15%;
		}
	}

	.pdf-mini-form {
		text-align: center;
		padding-top: 10px;
	}
}
